.user-input {
    width: 370px;
    background: black;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
  }
  
  .user-input label {
    display: block;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--txt-color);
  }
  
  .user-input input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 0.25rem;
    background-color: transparent;
    color: white;
    font-size: 1rem;
  }